<nav class="navbar navbar-expand-md navbar-light sticky-top mb-5">
  <a class="navbar-brand" href="/"><img src="/logo.jpeg" alt="SCC Logo" width="50" height="50"class="rounded-pill"></a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <!--
            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
          -->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/sunnydale/admission">Admission</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sunnydale/degrees">Degrees</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="/sunnydale/course_list">Available Courses</a>
        </li>
        <!--<li class="nav-item">
            <a class="nav-link" href="/sunnydale/login">Teacher Login</a>
          </li>-->
          <li class="nav-item">
            <a class="nav-link" href="/sunnydale/faq">FAQ</a>
          </li>
        <!--
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Degrees
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="Nursing.html">Nursing</a>
            <a class="dropdown-item" href="#">Degree 2</a>
            <a class="dropdown-item" href="#">Degree 3</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>          
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
        -->
      </ul>

      <a class="btn btn-primary my-2 my-sm-0" href="/sunnydale/login" role="button">Sign In</a>

      <!--<button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Student Log In
      </button>
      <form class="form-inline my-2 my-lg-0">
        <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">        
      </form>-->
    </div>
  </nav>