article{
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
}

.body{
    background-image: linear-gradient(to bottom,#DFD3C3,#F8EDE3);
}


nav{
    background-color: #D0B8A8;
}

.btn{
    margin-bottom: 30px;
}

.error{
    text-align: center;
    margin-top: 2%;
}

.h1{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
}

.logo{
   
    margin-left: 1%;
    margin-right: 1%;
    width: 5%;
    max-width: 10%;
    min-width: 10%;
}

.oops{
    width: 50%;
}

.signin{
    margin: 2%;
    text-align: justify;
}

