<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include("./partials/head.ejs") %>
  <title>Error 404 (Not Found)</title>
</head>
<body>
  <div class="error">
    <img class="oops" src="/error.jpg">
    
    <h1>Page not found</h1>
    <h2>We're sorry, we couldn't find the page you were looking for. &nbsp;Return <a href="/">home</a>?</h2>
    <!--<p><a href="https://lovepik.com/images/png-404.html">404 Png vectors by Lovepik.com</a></p>-->
  </div>
  <!-- Read footer.ejs file from partials folder -->
  <p style="text-align: center; margin-top: 5%;"><br>Copyright &copy; Anjoli Owens, Joesph Hollenbach, Ryan Cannon of Group 2</p>
</body>
</body>
</html>