<!doctype html>
<html lang="en">
  <head>
    <!-- Read head.ejs file from partials folder-->
    <%- include("./partials/head.ejs") %>
  </head>
  <body class="body">
    <!-- Read nav.ejs file from partials folder-->
    <%- include("./partials/nav.ejs") %>

      <h1 class="h1">Admission</h1>
      <article>      
      <h3>Requirements</a></h3>
      <p>A reading SAT score of 24 or higher, and a math SAT score of 26 or higher </p>
      <p>Students must have a gpa of 2.0-2.5</p>
      <p>Have a valid I.D.</p>
      <p>Must be willing to sacrafice a huge chunk of your personal life in the name of academia. This includes sleep.</p>
      <p>Money to pay for your classes. </p>
      <p>Sed, nam consequuntur molestias labore nostrum voluptas aperiam autem iusto recusandae, debitis atque quas eos assumenda numquam optio dolorem laborum provident impedit eum nulla cum incidunt officiis vitae pariatur! Dolores.</p>
      <p>Dolorum placeat maiores blanditiis? Sint iusto laborum provident fugiat ullam mollitia, ipsam impedit vel at consequatur nisi rem, quod commodi id, veniam cupiditate. Vel cupiditate placeat velit minima repellendus perspiciatis.</p>
      <p>Vitae fuga nisi provident, sint quod quam autem ab impedit placeat at voluptatibus itaque aut. Iusto provident ipsa earum. Ducimus necessitatibus commodi obcaecati laboriosam repellat reprehenderit architecto impedit iure nemo?</p>
      
      </article>
    
    
    <!-- Read footer.ejs file from partials folder-->
    <footer>
      <%- include("./partials/footer.ejs") %>
    </footer>
  </body>
  </body>
  
</html>