<!doctype html>
<html lang="en">
  <head>
    <!-- Read head.ejs file from partials folder-->
    <%- include("./partials/head.ejs") %>
  </head>
  <body class="body">
    <!-- Read nav.ejs file from partials folder-->
    <%- include("./partials/nav.ejs") %>
      <h1 class="h1">Available Courses</h1>

      <div class="card-deck d-flex flex-column mx-2">
        <div class="d-flex">
          <div class="row">
          
          </div>
            
        </div>
      </div>
           
    <!-- Read footer.ejs file from partials folder-->
    <footer>
      <%- include("./partials/footer.ejs") %>
    </footer>
  </body>  
</html>