<!doctype html>
<html lang="en">
  <head>
    <!-- Read head.ejs file from partials folder-->
    <%- include("./partials/head.ejs") %>
  </head>
  <body class="body">
    <!-- Read nav.ejs file from partials folder-->
    <%- include("./partials/nav.ejs") %>
      <h1 class="h1">Available Courses</h1>

      <div class="card-deck d-flex flex-column mx-2">
        <div class="d-flex">
          <div class="card-body">
            <h5 class="card-title">Anthropology</h5>
            <p class="card-text">Evolutionary Anthropology</p>
            <p class="card-text">Social Anthropology</p>
            <p class="card-text">Public Anthropology</p>
            <p class="card-text">Feminist Anthropology</p>
            <p class="card-text">Social Anthropology</p>
            <p class="card-text">Urban Anthropology</p>
            <p class="card-text">Biocultural Anthropology</p>
          </div>
          
          <div class="card-body">
            <h5 class="card-title">Art</h5>
            <p class="card-text">Interior Design</p>
            <p class="card-text">Music Education</p>
            <p class="card-text">Orchestral Studies</p>
            <p class="card-text">Music Studies</p>
            <p class="card-text">Systematic Musicology</p>
          </div>
          
          <div class="card-body">
            <h5 class="card-title">Business</h5>
            <p class="card-text">International Trade</p>
          </div>

          <div class="card-body">
            <h5 class="card-title">Civics</h5>
            <p class="card-text">Religions of East Asia</p>
          </div>        
        </div>

        <div class="d-flex">
          <div class="card-body">
            <h5 class="card-title">Education</h5>
            <p class="card-text">Elementary Education</p>
            <p class="card-text">Peace Education</p>
          </div>

          <div class="card-body">
            <h5 class="card-title">Engineering</h5>
            <p class="card-text">Ceramic Engineering</p>
            <p class="card-text">Industrial Engineering</p>
          </div>

          <div class="card-body">
            <h5 class="card-title">English</h5>
            <p class="card-text">Fiction Creative Writing</p>
            <p class="card-text">Technical Writing</p>
            <p class="card-text">History of Literature</p>
          </div>

          <div class="card-body">
            <h5 class="card-title">History</h5>
            <p class="card-text">History and Politics</p>
            <p class="card-text">Latin American History</p>
            <p class="card-text">Nigerian History</p>
            <p class="card-text">Canadian History</p>
            <p class="card-text">Mongolian History</p>
          </div>
        </div>

        <div class="d-flex">
          <div class="card-body">
            <h5 class="card-title">Law</h5>
            <p class="card-text">Federal Law</p>
            <p class="card-text">State Law</p>
            <p class="card-text">Islamic Law</p>
          </div>

          <div class="card-body">
            <h5 class="card-title">Math</h5>
            <p class="card-text">Algebraic Computation</p>
            <p class="card-text">Computational Number Theory</p>
          </div>

          <div class="card-body">
            <h5 class="card-title">Pyschology</h5>
            <p class="card-text">Educational Psychology</p>
            <p class="card-text">Speech Communication</p>
            <p class="card-text">Quantitative Psychology</p>
            <p class="card-text">Parapsychology</p>
            <p class="card-text">Social Development</p>
          </div>

          <div class="card-body">
            <h5 class="card-title">Science</h5>
            <p class="card-text">Paleobiology</p>
            <p class="card-text">Science Policy</p>
            <p class="card-text">Stellar Nucleosynthesis</p>
            <p class="card-text">Sociology of Science</p>
            <p class="card-text">Biology</p>
            <p class="card-text">Geochemistry</p>
            <p class="card-text">Chemical Physics</p>
            <p class="card-text">Paleoclimatology</p>
            <p class="card-text">Sience and Technology Studies</p>
            <p class="card-text">Green Chemistry</p>
            <p class="card-text">Climatology</p>
            <p class="card-text">Classical Physics</p>
          </div>
        </div>
      </div>
       
      
    
    <!-- Read footer.ejs file from partials folder-->
    <footer>
      <%- include("./partials/footer.ejs") %>
    </footer>
  </body>
  
</html>