
<--TODO Modify for Group Project-->
<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="create-course content">
    <form action="/courses" method="POST">
      <label for="_id">Course id:</label>
      <input type="number" id="_id" name="_id" required>
      <label for="dept">Course Dept:</label>
      <input type="text" id="dept" name="dept" required>
      <label for="name">Course name:</label>
      <textarea id="name" name="name" required></textarea>
      <button>Create</button>
    </form>
  </div>
  <footer>
    <%- include("./partials/footer.ejs") %>
  </footer>
</body>
</body>
</html>
