<!doctype html>
<html lang="en">
  <head>
    <!-- Read head.ejs file from partials folder-->
    <%- include("./partials/head.ejs") %>
  </head>  
  <body class="body">
    <!-- Read nav.ejs file from partials folder-->
    <%- include("./partials/nav.ejs") %>

    <div class="container">
      <h1 class="h1">Frequently Asked Questions</h1>
      <img class="logo rounded-pill float-lg-none" src="/images/logo.jpeg" alt="SCC Logo">
    </div>

    <div class="container">  
      <div class="media">
        <div class="media-body">
          <h3>FAQ</a></h3>
          <p>Question 1: Does Sunnydale Community College offer a way to work around my job schedule?</p>
          <img class="pics float-right" src="/images/faq.png"  alt="Class"
          <p>Answer 1: Most of our professors are willing to try and work with your busy schedule if they feel like it.</p>
          <p>Question 2: Do you accept cryptocurrency as a form of payment?</p>
          <p>Answer 2: No! We are old fashioned and prefer our payments in the form of checks and credit cards. &nbsp;No Bitcoin, or Dogecoin!</p>
          <p>Question 3: These classes are exhasting. &nbsp;Can I take a break and resume them latter?</p>
          <p>Answer 3: Once you've signed up for our classes, your soul belongs to us.</p>
          <p>Question 4: What do you offer for struggling students?</p>
          <p>Answer 4: For a hefty fee, we offer tutoring sessions from a wide variety of different tutors avialbale.</p>
          <p>May add more faq questions</p> 
        </div>
      </div>                 
    </div>
    
    <!-- Read footer.ejs file from partials folder-->
    <footer>
      <%- include("./partials/footer.ejs") %>
    </footer>
  </body>
</html>