<!doctype html>
<html lang="en">
  <head>
    <!-- Read head.ejs file from partials folder-->
    <%- include("./partials/head.ejs") %>
  </head>
  <body class="body">
    <!-- Read nav.ejs file from partials folder-->
    <%- include("./partials/nav.ejs") %>
      
      <h1 class="h1">Sunnydale Community College</h1>
      <img class="logo rounded-pill float-lg-none" src="logo.jpeg" alt="SCC Logo">
      
      <article>      
      <h3 class="mt-5"><a href="/sunnydale/course_list">Available Courses</a></h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi in quos voluptatibus ad unde alias nesciunt quasi saepe amet, deleniti odit nulla voluptas. Vitae eos, consequatur repudiandae sed cumque possimus?</p>
      <p>Officiis doloribus quibusdam, aperiam odio unde voluptatum natus hic repudiandae eligendi laudantium, consectetur voluptatibus, doloremque quis! Dicta maxime ipsa delectus, similique impedit culpa repellendus tenetur, doloremque expedita exercitationem possimus repudiandae.</p>
      <p>Iusto, dolor pariatur. Quaerat, voluptatum consectetur! Impedit unde aspernatur ex quibusdam, molestias nam blanditiis dicta rerum harum, deserunt, maxime eveniet ea ratione omnis quia a esse laudantium praesentium. Magnam, ad?</p>
      <p>Sapiente ipsum aliquid, molestiae, ut adipisci deserunt enim iusto eveniet earum nulla a exercitationem impedit doloribus quasi facere suscipit pariatur, voluptate corrupti odit reiciendis repellat unde at. Expedita, odio tempore?</p>
      <p>Quisquam, tempora quidem distinctio eligendi cumque ipsum dolorum minima dolor molestiae dicta recusandae aspernatur accusamus non nostrum. Veritatis beatae quia, rerum consectetur libero sint, corporis fugiat, ipsam repudiandae tempora eos?</p>
      <p>Sed, nam consequuntur molestias labore nostrum voluptas aperiam autem iusto recusandae, debitis atque quas eos assumenda numquam optio dolorem laborum provident impedit eum nulla cum incidunt officiis vitae pariatur! Dolores.</p>
      <p>Dolorum placeat maiores blanditiis? Sint iusto laborum provident fugiat ullam mollitia, ipsam impedit vel at consequatur nisi rem, quod commodi id, veniam cupiditate. Vel cupiditate placeat velit minima repellendus perspiciatis.</p>
     
      </article>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
  </body>
  

</html>