<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Read head.ejs file from partials folder-->
    <%- include("./partials/head.ejs") %>
  </head>
  <body class="body">
    <!-- Read nav.ejs file from partials folder-->
    <%- include("./partials/nav.ejs") %>

    <div class="container">
      <h1 class="h1">Welcome to Sunnydale Community College</h1>
      <h2 class="h2">Established in 1963</h2>
      <img
        class="logo rounded-pill float-lg-none"
        src="/images/logo.jpeg"
        alt="SCC Logo"
      />
    </div>

    <div class="container">
      <div class="media">
        <div class="media-body">
          <h3 class="mt-5">
            <a href="/sunnydale/course_list">Available Courses</a>
          </h3>
          <p>Welcome to Sunnydale Community College</p>
          <img
            class="pics float-right"
            src="/images/student3.png"
            alt="Student"
          />
          <p>
            We have a wide variety of courses for you to choose from.
            &nbsp;Whether you are an aspiring artist, interested in the
            different cultures from around the world, or studying the dark arts
            of polictics, we have a class just for you!
          </p>

          <p>
            To find out more about about our courses, click the Available
            Courses link.
          </p>

          <p>
            Quisquam, tempora quidem distinctio eligendi cumque ipsum dolorum
            minima dolor molestiae dicta recusandae aspernatur accusamus non
            nostrum. Veritatis beatae quia, rerum consectetur libero sint,
            corporis fugiat, ipsam repudiandae tempora eos?
          </p>
          <p>
            Sed, nam consequuntur molestias labore nostrum voluptas aperiam
            autem iusto recusandae, debitis atque quas eos assumenda numquam
            optio dolorem laborum provident impedit eum nulla cum incidunt
            officiis vitae pariatur! Dolores.
          </p>
          <p>
            If you have any questions, visit our faq section where we answer
            some of the most common questions asked by our new and current
            students.
          </p>
        </div>
      </div>
     
    </div>
    <footer><%- include("./partials/footer.ejs") %></footer>
  </body>
</html>
