<!doctype html>
<html lang="en">
  <head>
    <!-- Read head.ejs file from partials folder-->
    <%- include("./partials/head.ejs") %>
  </head>
  <body class="body">
    <!-- Read nav.ejs file from partials folder-->
    <%- include("./partials/nav.ejs") %>
      
      
        <h1 class="h1">Sign In</h1>
        <form>
          <div class="form-group col-sm-7">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group col-sm-7">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password">
          </div>
          <button type="submit" class="btn btn-primary ml-3">Submit</button>
        </form>
    
    <!-- Read footer.ejs file from partials folder-->
    <footer>
      <%- include("./partials/footer.ejs") %>
    </footer>
  </body>
  </body>
  

</html>