<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Read head.ejs file from partials folder-->
    <%- include("./partials/head.ejs") %>
  </head>
  <body class="body">
    <!-- Read nav.ejs file from partials folder-->
    <%- include("./partials/nav.ejs") %>

    <h1 class="h1">Sign In</h1>
    <img
      class="logo rounded-pill float-lg-none"
      src="/images/logo.jpeg"
      alt="SCC Logo"
    />

    <div class="container">
      <div class="media">
        <div class="media-body">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Enter email"
              />
              <small id="emailHelp" class="form-text text-muted"
                >*We will never share your email with anyone else.</small
              >
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="Enter password"
              />
            </div>

            <div class="dropdown show">
              <a
                class="btn btn-primary dropdown-toggle"
                href="#"
                role="button"
                id="dropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Select One:
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Student</a>
                <a class="dropdown-item" href="#">Teacher</a>
              </div>
            </div>
          </form>
        </div>
        <img
          class="pics float-right"
          src="/images/student2.png"
          alt="Student"
        />
      </div>
    </div>

    <!-- Read footer.ejs file from partials folder-->
    <footer><%- include("./partials/footer.ejs") %></footer>
  </body>
</html>
