article{
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
}

.body{
    background-image: linear-gradient(to bottom,#DFD3C3,#F8EDE3);
}


nav{
    background-color: #D0B8A8;
}

/* TODO: Get footer to stay at the bottom of the page */
footer{
    background-color: #D0B8A8;
}

.btn{
    margin-bottom: 30px;
}

.error{
    text-align: center;
    margin-top: 2%;
}

.h1{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
}

.logo{
  margin-top: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 15%;
  min-width: 100px;
}

.oops{
    width: 50%;
}

.signin{
    margin: 2%;
    text-align: justify;
}

